<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title><%= title %></title>-->
<!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1><%= title %></h1>-->
<!--    <p>Welcome to <%= title %></p>-->
<!--  </body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/socket.io/socket.io.js"></script>
  <meta charset="UTF-8">
  <title>Plants Recognition Application</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Welcome to Plants Recognition Application</h1>
<nav>
  <ul>
    <a href="/plants" class="oval-button">View Plant List</a>

    <a href="/plants/add" class="oval-button">Add New Plant</a>
  </ul>
</nav>
</body>
</html>

