body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

form input[type="text"], form input[type="date"], form input[type="number"], form textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 50%;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.oval-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 20px;
}

.oval-button:hover {
    background-color: #0056b3;
}

